/* Start button */
#div-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 95vw;
}

#div-btn.hideme {
    display: none;
}

#btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslateblue;
    color: aliceblue;
    font-size: 60px;
    height: 12%;
    width: 60%;
    border-radius: 15px;
    outline: none;
}

#btn, li:hover {
    cursor: pointer;
}

/* Timer */
#timer {
    display: flex;
    float: right;
    justify-content: right;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
}

/* View high scores clickable */
#view-hs {
    display: flex;
    float: left;
    justify-content: left;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
}

#view-hs > ul {
    list-style-type:none;
}

/* Question */
#qust {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    padding-top: 50px;
    width: 100%;
    margin: auto;
}

#options {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 100%;
    margin: auto;
}

li {
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 5px;
}

/* Answer flex animation from Week 2, Activity 28 */
.answer-card {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    background-color: purple;
    color: white;
}
  
.answer-card:hover {
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
    background-color:  rgba(232, 102, 236, 1);
}

